html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(33,164,245);
}
canvas {
  display: block;
}


body {
  text-align:center;
   font-family: cursive;
}
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 30%;
}
a {
  color: #000000;
  text-decoration-color: #000000;
}
.button {
  display: block;
  background-color: rgb(23,111,219);
  font-family: cursive;
    margin-left: auto;
    margin-right: auto;
  width: 30%;
}
